<div class='control'>
<span class='button'><%= link_to 'Create', new_component_path %></span>
</div>

<%=
  grid(@components_grid) do |g|

    g.column name: 'Title', attribute: 'title' do |component|
      [link_to(component.title, component), {style: 'width:10em; text-align:center'}]
    end

    g.column name: 'Category', attribute: 'category', custom_filter: :auto do |component|
      [link_to_category(component.category).html_safe, {style: 'width:14em; text-align:center'}]
    end

    g.column name: 'Description', attribute: 'description' do |component|
      [strip_tags(component.description), {style: 'width:20em; max-width: 20em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
    end

    g.column name: 'Maintainer', attribute: 'email', assoc: :user do |component|
      [component.user.email, {style: 'width:15em; text-align:center'}]
    end

  end
-%>

<div class='control'>
<span class='button'><%= link_to 'Create', new_component_path %></span>
</div>
