// Place all the styles related to the Components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
	border-style: solid;
	border-color: #aaaaff;
	border-width: 1px;
	border-collapse: collapse;
	padding:4px;
}

th {
	background-color: #eeeeff;
}

table {
	width:100%;
}

td input[type=text], textarea {
	width:100%;
}

td textarea {
	height: 5em;
}

.sample {
	width:100%;
	height: 5em;
	overflow-x:auto;
	overflow-y:auto;
	word-break: normal;
	word-wrap: normal;
	white-space: pre;
}

.control {
	text-align: right;
	margin: 5px 0;
}

.note {
	color: #999999;
	font-style: italic;
}

h1 {
	display: inline-block;
	padding-bottom: 5px;
	border-style: solid;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 5px;
}
