@import 'variables';

table.table-striped tr.even {
  background-color: #eee;
}

.wice-grid-container {
	width: 100%;
	table {
		table-layout: fixed;
		width:100%;

		.column-config-title {width:10em; text-align:center}
		.column-config-category {width:14em; text-align:center}
		.column-config-created-at {width:14em; text-align:center}
		.column-config-maintainer {width:12em; text-align:center}
	}
}

.wice-grid-title-row {
  th:last-of-type {
    width: 1.5em;
  }
}


.pagination {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;

	li {
		display: inline;
		padding: 5px;
	}

	li.active {
		font-weight: bold;
	}
}

.pagination_status {
	float: right;
}
